
    <header>
        <section class="header-icons-container">
            <div class="icons">
                <a href="https://www.facebook.com/bonninpedro/"><span class="icon-facebook"></span></a>
                <a href="https://twitter.com/pedro15989564"><span class="icon-twitter"></span></a>
                <a href="https://www.instagram.com/"><span class="icon-Instagram"></span></a>
                <a href="https://www.youtube.com/channel/UCYo13r3__zaEhbY-2kozwBQ"><span class="icon-youtube"></span></a>
            </div>
        </section>
        <nav>
        <section class="nav-logo-container">
            <a href="/"><img src="assets/img/Logo-negro.png" alt="Logo de mi blog" > </a>
        </section>
        <section class="profile-link">
                <a href="/perfil">Sobre el blogs</a> 
        </section>
        </nav>
    </header>