<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi Blog</title>
    <link rel="stylesheet" href="css/main.css">

</head>
<body>
    {{> header}}
    <main class="blogs-posts-container">
        <section class="grid-container blogpost-img-container">
            <img src="assets/img/chinafoto.png" alt="">
        </section>
        <section class="blogpost-main-container">
            <div class="grid-container">
                <h3>Noticias</h3>
                <article>
                    <h1>zhurong</h1>
                    <p>China sigue marcando hitos en su exploración espacial. El último 19 de mayo la Agencia Espacial de China (CNSA) publicó imágenes desde la superficie de Marte tomadas por su rover Zhurong. Las fotografías confirmaron que los paneles solares y la antena del rover se desplegaron con éxito y ayudarán a los especialistas a construir el plan de movimiento del rover.</p>
                    <p>Zhurong, que lleva el nombre de un mítico dios del fuego chino aterrizó en el sur de Utopia Planitia en el hemisferio norte de Marte el 14 de mayo como parte de la primera misión china a Marte, Tianwen 1.</p>
                    <p>La misión llegó unos meses después de la última sonda de Estados Unidos a Marte, Perseverance, y en China se celebró como un hito en su ascenso al estado de superpotencia espacial.</p>
                    <p>La masa del rover de seis ruedas es de 240 kilogramos, la carga útil incluye cámaras, un radar de penetración terrestre, un magnetómetro, una estación meteorológica y un analizador de suelos. Se espera que Zhurong demuestre su viabilidad durante 90 días marcianos, y que además realice estudios de superficie y subsuperficies del suelo.</p>
                    <p>Con el aterrizaje del Zhurong, China se convirtió en la segunda nación en aterrizar con éxito un rover de Marte (Estados Unidos ha aterrizado ya cinco). Aparte de China y EE.UU., la Unión Soviética fue el único otro país que aterrizó una sonda en Marte, pero esa misión (llamada Mars 3) terminó prematuramente cuando la nave espacial falló solo unos minutos después de aterrizar.</p>
                </article>
            </div>
        </section>
        <section class="contact-main-container">
            <div>
                <img src="" alt="">
                <div class="contact-left">
                    <a href=""></a>
                    <p></p>
                </div>
            </div>
            <div>
                <img src="" alt="">
                <div class="contact-right">
                    <a href=""></a>
                    <p></p>
                </div>
            </div>
        </section>
    </main>
    {{> footer}}
</body>
</html>