<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi Blog</title>
    <link rel="stylesheet" href="css/main.css">

</head>
<body>
    {{> header}}

    <main class="blogs-main">
        <section class="blogs-news-container">
            <div class="grid-container blogs-main-new">
                <h3>Noticias</h3>
                <div class="blogs-news-img-container">
                    <img src="assets/img/zhurong.png" alt="">
                </div>
                <div class="blogs-news-info-container">
                    <h2>Zhurong: China envía sus primeras imágenes desde la superficie de Marte</h2>
                    <p>El 17 de mayo, la sonda espacial entró en una nueva órbita casi marciana de ocho horas, en la que operará como un relé, manteniendo la comunicación entre el rover y la Tierra. Después de eso, Zhurong comenzó a transmitir telemetría, y el 19 de mayo, las primeras imágenes tomadas por el rover llegaron a la Tierra.</p>
                    <a href="/blog" class="blogs-button">Leer más</a>
                </div>
            </div>
        </section>
        <section class="blogs-posts-container">
            <div class="grid-container">
                <h3></h3>
                <article class="post-container">
                    <img src="assets/img/post-1.png" alt="">
                    <h1>Peligroso fosfato</h1>
                    <p>Científicos crean una esponja que absorbe el peligroso fosfato del agua, la contaminación ha niveles peligrosos.</p>
                    <a href="/blog" class="blogs-button">Leer más</a>
                </article>
                <article class="post-container">
                    <img src="assets/img/post-2.png" alt="">
                    <h1>HL-2M Tokamak</h1>
                    <p>China mantiene su “sol artificial” durante más de 100 largos segundos, hito en su búsqueda de esta tecnología.</p>
                    <a href="" class="blogs-button">Leer más</a>
                </article>
                <article class="post-container">
                    <img src="assets/img/post-3.png" alt="">
                    <h1>Tortuga de Galápagos</h1>
                    <p>Confirman el descubrimiento de una tortuga de Galápagos que se creía extinta hace  mas de 112  años.</p>
                    <a href="" class="blogs-button">Leer más</a>
                </article>
                <article class="post-container">
                    <img src="assets/img/post-4.png" alt="">
                    <h1>Bajo el agua</h1>
                    <p>Un especie de lagartos han aprendido a respirar bajo el agua usando burbujas para huir de depredadores.</p>
                    <a href="" class="blogs-button">Leer más</a>
                </article>
                <article class="post-container">
                    <img src="assets/img/post-5.png" alt="">
                    <h1>IBM ha creado una IA</h1>
                    <p> IBM ha creado una IA que puede debatir con expertos en debates humanos, IBM empezó a probar el sistema en 2019.</p>
                    <a href="" class="blogs-button">Leer más</a>
                </article>
                <article class="post-container">
                    <img src="assets/img/post-6.png" alt="">
                    <h1>Fibras ópticas</h1>
                    <p>Fibras ópticas serán miles de veces más eficientes en su próxima generación, un gran paso en el desarrollo.</p>
                    <a href="" class="blogs-button">Leer más</a>
                </article>
            </div>
        </section>
    </main>
     {{> footer}}
</body>
</html>