<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi Blog</title>
    <link rel="stylesheet" href="css/main.css">

</head>
<body>
   {{> header}}
    </header>
    <main>
        <section class="profile-main-container">
            <div class="grid-container profile-container">
                <div>
                    <img src="assets/img/id.png" alt="">
                </div>
                <div>
                    <h2>Hola</h2>
                    <p>Esta página ha sido creada con la intención de proveer al público un portal de divulgación científica que agrupe las noticias más destacadas del mundo de la ciencia y respuestas a preguntas frecuentes sobre cómo funciona el universo.</p>
                </div>
            </div>
        </section>
        <section class="profile-main-proyects">
            <div class="grid-container">
                <h3>Proyectos</h3>
                <div class="proyects-main-container">
                    <article class="proyect-container">
                        <h4>Tectologia</h4>
                        <p>Te brindamos informacion sobre los ultimos abances tecnologicos del mundo.</p>
                    </article>
                    <article class="proyect-container">
                        <h4>Noticias</h4>
                        <p>Mantente al tanto de los que esta pasando en elmundo.</p>
                    </article>
                    <article class="proyect-container">
                        <h4>Tu lugar</h4>
                        <p>Donde difundir información o promocionar productos, servicios, eventos, lugares, advertencias etc..</p>
                    </article>
                </div>
            </div>
        </section>

        <section class="contact-main-container">
            <div>
                <img src="assets/img/013-newsletter.png" alt="">
                <div class="contact-left">
                    <a href="/">Contacto</a>
                    <p>corre: bonninpedro1@gmail.com</p>
                </div>
            </div>
            <div>
                <img src="assets/img/006-like.png" alt="">
                <div class="contact-right">
                    <a href="/">Escribe</a>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>Trabajo practico "Laboratorio de computacion".</p>
    </footer>
</body>
</html>